{% extends 'base.html' %}

{% load static tags %}

{% block title %}
    {{ config.TITLE_A }}
{% endblock %}

{% block bg_image %}
    company
{% endblock %}

{% block menu %}
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li class='activ'><a href="{% url 'about' %}">О компании</a></li>
    <li><a href="{% url 'catalog' %}">Каталог</a></li>
    <li><a href="{% url 'contact' %}">Контакты</a></li>
{% endblock %}

{% block header %}


    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-6 col-md-5">
                <h1 class="label">{{ config.TITLE_A }}</h1>
                <div class="main-descr">
                    {{ config.ABOUT_1 }}
                    <br> <br>{{ config.ABOUT_2 }}
                </div>
            </div>

            <div class="col-1 offset-5 col-md-1 offset-md-6">
                <ul class='main-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
<!--Описания компания страница about-->

{% block mainblog %}




    <section class="history">
        <div class="container">

            <div class="history-label">{{ config.ABOUT_3 }}</div>
            {% for ab in aboutpage %}
                {% if forloop.counter|even %}
                    <div class="history-block">
                        <div class="row d-flex align-items-center mt-3">
                            <div class="col-6 col-md-5">
                                <div class="history-img"
                                     style='background: url({{ ab.image.url }}) center center/cover no-repeat;'>
                                    <div class="bg">
                                    </div>
                                </div>
                                <div class="history-subimg"
                                     style='background: url({{ ab.image_background.url }}) center center/cover no-repeat;'>
                                    <div class="bg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-5 offset-md-1">
                                <div class="history-title">
                                    {{ ab.title }}
                                </div>
                                <div class="history-descr">
                                    {{ ab.description }}
                                    <br>
                                    {#                                    <br>#}
                                    {#                                    Бараны в количестве 500 штук, ежегоднаяпродажа и выращивание 250-300 штук.#}
                                    {#                                    <br>#}
                                    {#                                    <br>#}
                                    {#                                    Рыба (озеро на 2 гектара).#}
                                    {#                                    <br>#}
                                    {#                                    <br>#}
                                    {#                                    Построили бассейн для рыб 27 гектар.#}
                                </div>

                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="history-block">
                        <div class="row d-flex align-items-center mt-3">
                            <div class="col-6 col-md-5">
                                <div class="history-title">
                                    {{ ab.title }}
                                </div>
                                <div class="history-descr">
                                    {{ ab.description }}
                                    <br>
                                    {#                                    <br>#}
                                    {#                                    Взяли 350 кур и из них сделали 30000 кур.#}
                                    {#                                    <br>#}
                                    {#                                    <br>#}
                                    {#                                    Рыба (озеро на 2 гектара).#}
                                    {#                                    <br>#}
                                    {#                                    <br>#}
                                    {#                                    150000 несущих кур.#}
                                </div>

                            </div>
                            <div class="col-6 col-md-5 offset-md-2">
                                <div class="history-sub-img"
                                     style='background: url({{ ab.image.url }}) center center/cover no-repeat;'>
                                    <div class="bg">
                                    </div>
                                </div>
                                <div class="history-subimg2"
                                     style='background: url({{ ab.image_background.url }}) center center/cover no-repeat;'>
                                    <div class="bg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}


        </div>

    </section>
    <section class="present">
        <div class="container">
            <div class="present-title">
                {{ config.ABOUT_4 }}
            </div>
            <div class="row">
                <div class="col-7 col-md-6">
                    <div class="present-subtitle">
                        {{ config.ABOUT_5 }}
                    </div>
                    <div class="present-descr">
                        {{ config.ABOUT_6 }}
                        <br>
                        <br>
                        {{ config.ABOUT_7 }}

                    </div>
                </div>
            </div>
            <div class="present-btn">
                <a href="{% url 'contact' %}">
                    <button>{{ config.ABOUT_8 }}</button>
                </a>
            </div>
        </div>
    </section>
    <section class="advant">
        <div class="container">
            <div class="advant-title">
                {{ config.ABOUT_9 }}
            </div>
            <div class="advant-blocks">
                <div class="row">
                    {% for advant in advantage %}
                        <div style="margin-bottom: 25px" class="col-4 col-md-4">
                            <div class="block-item"
                                 style='background: url({{ advant.image_2.url }}) center center/cover no-repeat;'>
                                <div class="block-icon">
                                    <img src="{{ advant.image }}" alt="">
                                </div>
                                <div class="block-text">
                                    {{ advant.text }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>


            </div>
        </div>
    </section>
{% endblock %}
