{% extends 'base.html' %}

{% load static tags %}

{% block title %}
    О компании
{% endblock %}

{% block bg_image %}
    company
{% endblock %}

{% block menu %}
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li class='activ'><a href="{% url 'about' %}">О компании</a></li>
    <li><a href="{% url 'catalog' %}">Каталог</a></li>
    <li><a href="{% url 'contact' %}">Контакты</a></li>
{% endblock %}

{% block header %}


    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-6 col-md-5">
                <h1 class="label">О компании</h1>
                <div class="main-descr">
                    QO’SHKO’PIR PARRANDA - компании которая занимается поставкой яиц, комбикорма,бройлерных цеплят и
                    многого
                    другого по всему Узбекистану и за границу.
                    <br> <br>Мы - лучшие в нашем деле и мы активноразвиваемся и расширяемся с 2004 года.
                </div>
            </div>

            <div class="col-1 offset-5 col-md-1 offset-md-6">
                <ul class='main-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
<!--Описания компания страница about-->

{% block mainblog %}


    <section class="history">
        <div class="container">

            <div class="history-label">С чего всё начиналось?</div>
            {% for ab in aboutpage %}
                {% if forloop.counter|even %}
                    <div class="history-block">
                        <div class="row d-flex align-items-center mt-3">
                            <div class="col-6 col-md-5">
                                <div class="history-img"
                                     style='background: url({{ ab.image.url }}) center center/cover no-repeat;'>
                                    <div class="bg">
                                    </div>
                                </div>
                                <div class="history-subimg"
                                     style='background: url({{ ab.image_background.url }}) center center/cover no-repeat;'>
                                    <div class="bg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-5 offset-md-1">
                                <div class="history-title">
                                    {{ ab.title }}
                                </div>
                                <div class="history-descr">
                                    {{ ab.description }}
                                    <br>
                                    {#                                    <br>#}
                                    {#                                    Бараны в количестве 500 штук, ежегоднаяпродажа и выращивание 250-300 штук.#}
                                    {#                                    <br>#}
                                    {#                                    <br>#}
                                    {#                                    Рыба (озеро на 2 гектара).#}
                                    {#                                    <br>#}
                                    {#                                    <br>#}
                                    {#                                    Построили бассейн для рыб 27 гектар.#}
                                </div>

                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="history-block">
                        <div class="row d-flex align-items-center mt-3">
                            <div class="col-6 col-md-5">
                                <div class="history-title">
                                    {{ ab.title }}
                                </div>
                                <div class="history-descr">
                                    {{ ab.description }}
                                    <br>
                                    {#                                    <br>#}
                                    {#                                    Взяли 350 кур и из них сделали 30000 кур.#}
                                    {#                                    <br>#}
                                    {#                                    <br>#}
                                    {#                                    Рыба (озеро на 2 гектара).#}
                                    {#                                    <br>#}
                                    {#                                    <br>#}
                                    {#                                    150000 несущих кур.#}
                                </div>

                            </div>
                            <div class="col-6 col-md-5 offset-md-2">
                                <div class="history-sub-img"
                                     style='background: url({{ ab.image.url }}) center center/cover no-repeat;'>
                                    <div class="bg">
                                    </div>
                                </div>
                                <div class="history-subimg2"
                                     style='background: url({{ ab.image_background.url }}) center center/cover no-repeat;'>
                                    <div class="bg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}


        </div>
        </div>
    </section>
    <section class="present">
        <div class="container">
            <div class="present-title">
                В нынешнее время
            </div>
            <div class="row">
                <div class="col-7 col-md-6">
                    <div class="present-subtitle">
                        2020 год
                    </div>
                    <div class="present-descr">
                        Убой бройлерных кур (1500-2000) голов и захват рынка, поставки за границу и расширение наших
                        границ.
                        <br>
                        <br>
                        Мы - компания с долгой историей развития и нам вы можете доверять. Мы отвечаем за качество
                        нашего
                        продукта.

                    </div>
                </div>
            </div>
            <div class="present-btn">
                <button>СВЯЗАТЬСЯ С НАМИ</button>
            </div>
        </div>
    </section>
    <section class="advant">
        <div class="container">
            <div class="advant-title">
                Наши преимущества
            </div>
            <div class="advant-blocks">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <div class="block-item"
                             style='background: url({% static 'img/egg.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/logo/like.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Качество
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="block-item"
                             style='background: url({% static 'img/egg.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/logo/brain.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Инновации
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="block-item"
                             style='background: url({% static 'img/egg.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/logo/shield.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Надёжность
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4 offset-2 col-md-4 offset-md-2">
                        <div class="block-item"
                             style='background: url({% static 'img/egg.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/logo/target.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Профессионализм
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <div class="block-item"
                             style='background: url({% static 'img/egg.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/logo/castle.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Масштабность
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
