{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<section class="{% block bg_image %} {% endblock %}">
    <header>
        <div class="container">
            <nav class='header-nav d-flex align-items-center'>
                <img src="{% static 'img/logo/logo.png' %}" alt="" class="logo">
                <ul class='menu d-flex justify-content-between align-items-center'>
                    {% for menu in menus %}
                        <li class="{% if request.path_info == menu.get_absolute_url %} activ {% endif %}"><a
                                href="{{ menu.get_absolute_url }}">{{ menu.name }}</a>

                        </li>

                    {% endfor %}

                </ul>
                <button class='menu-btn'><a href="{% url 'partner' %}">ПАРТНЁРАМ</a></button>

                <ul class='lang '>
                    <li>
                        RU<i class="fa fa-chevron-down" aria-hidden="true">

                    </i>

                    </li>
                </ul>

            </nav>
            <!--Стиль header везде одинакова-->

        </div>
        <a href="#"><img src="{% static 'img/logo/logo.png' %}" alt="" class="mob-logo"></a>
        <div class="gamburger">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="menu-exit">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </header>
    <!-- Шапка сайта -->
    {% block header %}

    {% endblock %}
    <!--Описания компания-->
</section>
{% block mainblog %}

{% endblock %}

<!--Блок контакты-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-2 offset-1 col-md-2 d-flex align-items-center flex-column">
                <div class="footer-logo">
                    <a href="#">
                        <img src="{% static 'img/logo/footer-logo.png' %}" alt="">
                    </a>
                </div>
                <div class="footer-label">
                    QO’SHKO’PIR
                    PARRANDA
                </div>
                <div class="footer-date">{{ config.BASE_5 }}</div>
            </div>
            <div class="col-2 offset-2 col-md-2 offset-md-2 d-flex align-items-center flex-column">
                <nav class='footer-menu'>
                    <ul>
                        {% for menu in menus %}

                            <li class="{% if request.path_info == menu.get_absolute_url %} activ {% endif %}"><a
                                    href="{{ menu.get_absolute_url }}">{{ menu.name }}</a>

                            </li>

                        {% endfor %}

                    </ul>
                </nav>
            </div>
            <div class="col-3 offset-2 col-md-3 offset-md-2 d-flex align-items-end flex-column">
                <div class="footer-sot">
                    <span>{{ config.BASE_1 }}</span>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="footer-phone">
                    {{ config.BASE_2 }}
                </div>
                <div class="footer-tel">
                    {{ config.BASE_3 }}
                </div>
                <div class="footer-end">
                    {{ config.BASE_1 }}
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer сайта-->
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>