{% extends 'base.html' %}
{% load static %}
{% block title %}
    Каталог
{% endblock %}

{% block bg_image %}
    catalog
{% endblock %}

{% block menu %}
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'about' %}">О компании</a></li>
    <li class='activ'><a href="{% url 'catalog' %}">Каталог</a></li>
    <li><a href="{% url 'contact' %}">Контакты</a></li>
{% endblock %}
{% block header %}
    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-6 col-md-5">
                <h1 class="label">Наш каталог</h1>
                <div class="catalog-descr">
                    Наши продукты и услуги нашей компании благодаря нашему опыту и качеству могут похвастаться
                    званием лучших в Узбекистане.
                </div>
            </div>

            <div class="col-1 offset-5 col-md-1 offset-md-6">
                <ul class='catalog-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="catalog-btn">
            <button>НАША ПРОДУКЦИЯ</button>
        </div>
    </div>
{% endblock %}
{% block mainblog %}
    <!--Описания компания страница catalog-->

    <section class="sell">
        <div class="container">
            <div class="sell-title">Мы продаём и поставляем</div>
            <div class="sell-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-item"
                             style="background:url({% static 'img/catalog-block.png' %}) center center/cover no-repeat">
                            <div class="block-title">Экспорт и импорт:</div>
                            <div class="block-list">
                                <ul>
                                    <li>бройлерных цыплят</li>
                                    <li>бройлерных цыплят</li>
                                </ul>
                                <ul>
                                    <li>комбикорма</li>
                                    <li>яиц</li>
                                </ul>
                            </div>
                            <div class="block-btn">
                                <button>СВЯЗАТЬСЯ С НАМИ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-item"
                             style="background:url({% static 'img/catalog-block.png' %}) center center/cover no-repeat">
                            <div class="block-title">Продажа:</div>
                            <div class="block-list">
                                <ul>
                                    <li>бройлерных цыплят</li>
                                    <li>бройлерных цыплят</li>
                                </ul>
                                <ul>
                                    <li>комбикорма</li>
                                    <li>яиц</li>
                                </ul>
                            </div>
                            <div class="block-btn">
                                <button>СВЯЗАТЬСЯ С НАМИ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-item"
                             style="background:url({% static 'img/catalog-block.png' %}) center center/cover no-repeat">
                            <div class="block-title">Экспорт и импорт:</div>
                            <div class="block-list">
                                <ul>
                                    <li>бройлерных цыплят</li>
                                    <li>бройлерных цыплят</li>
                                </ul>
                                <ul>
                                    <li>комбикорма</li>
                                    <li>яиц</li>
                                </ul>
                            </div>
                            <div class="block-btn">
                                <button>СВЯЗАТЬСЯ С НАМИ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-item"
                             style="background:url({% static 'img/catalog-block.png' %}) center center/cover no-repeat">
                            <div class="block-title">Продажа:</div>
                            <div class="block-list">
                                <ul>
                                    <li>бройлерных цыплят</li>
                                    <li>бройлерных цыплят</li>
                                </ul>
                                <ul>
                                    <li>комбикорма</li>
                                    <li>яиц</li>
                                </ul>
                            </div>
                            <div class="block-btn">
                                <button>СВЯЗАТЬСЯ С НАМИ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cow">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md-7">
                    <div class="cow-subtitle">
                        Наша продукция - хороший выбор
                    </div>
                    <div class="cow-descr">
                        Почему же наша продукция хороший выбор?
                        <br>
                        <br>
                        Мы уже более 16 лет на рынке и наша фирма имеет огромный масштаб и мы не хотим на этом
                        останавливаться.
                        <br>
                        <br>
                        Мы отвечаем за качество товара и мы не голословны (мы вернем вам деньги если будут обнаружены
                        деффекты и так далее)
                    </div>
                </div>
            </div>
            <div class="cow-btn">
                <button>СВЯЗАТЬСЯ С НАМИ</button>
            </div>
        </div>
    </section>
{% endblock %}