{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ config.TITLE_CATALOG }}
{% endblock %}

{% block bg_image %}
    catalog
{% endblock %}

{% block menu %}
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'about' %}">О компании</a></li>
    <li class='activ'><a href="{% url 'catalog' %}">Каталог</a></li>
    <li><a href="{% url 'contact' %}">Контакты</a></li>
{% endblock %}
{% block header %}
    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-6 col-md-5">
                <h1 class="label">{{ config.CATALOG_2 }}</h1>
                <div class="catalog-descr">
                    {{ config.CATALOG_3 }}
                </div>
            </div>

            <div class="col-1 offset-5 col-md-1 offset-md-6">
                <ul class='catalog-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="catalog-btn">
            <button>{{ config.CATALOG_4 }}</button>
        </div>
    </div>
{% endblock %}
{% block mainblog %}
    <!--Описания компания страница catalog-->

    <section class="sell">
        <div class="container">
            <div class="sell-title">{{ config.CATALOG_5 }}</div>
            <div class="sell-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-item"
                             style="background:url({% static 'img/catalog-block.png' %}) center center/cover no-repeat">
                            <div class="block-title">Экспорт и импорт:</div>
                            <div class="block-list">
                                <ul>
                                    <li>бройлерных цыплят</li>
                                    <li>бройлерных цыплят</li>
                                </ul>
                                <ul>
                                    <li>комбикорма</li>
                                    <li>яиц</li>
                                </ul>
                            </div>
                            <div class="block-btn">
                                <button>СВЯЗАТЬСЯ С НАМИ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-item"
                             style="background:url({% static 'img/catalog-block.png' %}) center center/cover no-repeat">
                            <div class="block-title">Продажа:</div>
                            <div class="block-list">
                                <ul>
                                    <li>бройлерных цыплят</li>
                                    <li>бройлерных цыплят</li>
                                </ul>
                                <ul>
                                    <li>комбикорма</li>
                                    <li>яиц</li>
                                </ul>
                            </div>
                            <div class="block-btn">
                                <button>СВЯЗАТЬСЯ С НАМИ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-item"
                             style="background:url({% static 'img/catalog-block.png' %}) center center/cover no-repeat">
                            <div class="block-title">Экспорт и импорт:</div>
                            <div class="block-list">
                                <ul>
                                    <li>бройлерных цыплят</li>
                                    <li>бройлерных цыплят</li>
                                </ul>
                                <ul>
                                    <li>комбикорма</li>
                                    <li>яиц</li>
                                </ul>
                            </div>
                            <div class="block-btn">
                                <button>СВЯЗАТЬСЯ С НАМИ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-item"
                             style="background:url({% static 'img/catalog-block.png' %}) center center/cover no-repeat">
                            <div class="block-title">Продажа:</div>
                            <div class="block-list">
                                <ul>
                                    <li>бройлерных цыплят</li>
                                    <li>бройлерных цыплят</li>
                                </ul>
                                <ul>
                                    <li>комбикорма</li>
                                    <li>яиц</li>
                                </ul>
                            </div>
                            <div class="block-btn">
                                <button>СВЯЗАТЬСЯ С НАМИ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cow">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md-7">
                    <div class="cow-subtitle">
                        {{ config.CATALOG_6 }}
                    </div>
                    <div class="cow-descr">
                        {{ config.CATALOG_7 }}
                        <br>
                        <br>
                        {{ config.CATALOG_8 }}
                        <br>
                        <br>
                        {{ config.CATALOG_9 }}
                    </div>
                </div>
            </div>
            <div class="cow-btn">
                <button>{{ config.CATALOG_10 }}</button>
            </div>
        </div>
    </section>
{% endblock %}