{% extends 'base.html' %}
{% load tags %}
{% load static %}
{% block title %}
    {{ 'TITLE_CATALOG_'|translate:request.path }}
{% endblock %}

{% block bg_image %}
    catalog
{% endblock %}


{% block header %}
    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-6 col-md-5">
                <h1 class="label">{{ 'CATALOG_2_'|translate:request.path }}</h1>
                <div class="catalog-descr">
                    {{ 'CATALOG_3_'|translate:request.path }}
                </div>
            </div>

            <div class="col-1 offset-5 col-md-1 offset-md-6">
                <ul class='catalog-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="catalog-btn">
            <button>{{ 'CATALOG_4_'|translate:request.path }}</button>
        </div>
    </div>
{% endblock %}
{% block mainblog %}
    <!--Описания компания страница catalog-->

    <section class="sell">
        <div class="container">
            <div class="sell-title">{{ 'CATALOG_5_'|translate:request.path }}</div>
            <div class="sell-block">
                <div class="row">
                    {% for catalog in catalogpage %}
                        <div class="col-md-6">
                            <div class="block-item"
                                 style="background:url({{ catalog.image.url }}) center center/cover no-repeat">
                                <div class="block-title">{{ catalog.title }}</div>
                                <div class="block-list">
                                    <ul>
                                        <li>{{ catalog.text_1 }}</li>
                                        <li>{{ catalog.text_2 }}</li>
                                    </ul>
                                    <ul>
                                        <li>{{ catalog.text_3 }}</li>
                                        <li>{{ catalog.text_4 }}</li>
                                    </ul>
                                </div>
                                <div class="block-btn">
                                    <button>{{ 'CATALOG_10_'|translate:request.path }}</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </section>
    <section class="cow">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md-7">
                    <div class="cow-subtitle">
                        {{ 'CATALOG_6_'|translate:request.path }}
                    </div>
                    <div class="cow-descr">
                        {{ 'CATALOG_7_'|translate:request.path }}
                        <br>
                        <br>
                        {{ 'CATALOG_8_'|translate:request.path }}
                        <br>
                        <br>
                        {{ 'CATALOG_9_'|translate:request.path }}
                    </div>
                </div>
            </div>
            <div class="cow-btn">
                <button>{{ 'CATALOG_10_'|translate:request.path }}</button>
            </div>
        </div>
    </section>
{% endblock %}