{% extends 'base.html' %}
{% load static %}
{% block title %}
    Контакты
{% endblock %}

{% block bg_image %}
    contacts
{% endblock %}

{% block menu %}
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'about' %}">О компании</a></li>
    <li><a href="{% url 'catalog' %}">Каталог</a></li>
    <li class='activ'><a href="{% url 'contact' %}">Контакты</a></li>
{% endblock %}

{% block header %}


    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-start">
            <div class="col-6 col-md-5">
                <h1 class="contacts-label">Контакты</h1>
                <div class="contacts-descr">
                    Адрес: Республика Узбекистан,
                    Хорезмская область, Кушкупирский
                    район
                    село Узбекяп.
                    <br><br>
                    Банк: Хорезмский региональный
                    филиал АК «УзПромстройбанка».
                    <br><br>
                    Тел: (+99890)737-00-01.
                    <br><br>
                    E-mail: kparranda@mail.ru.
                    <br><br>
                    Директор: У.Ю. Мадаминов
                </div>
            </div>
            <div class="col-6 col-md-4 offset-md-1">
                <div class="contacts-label">Оставьте заявку</div>
                <div class="contacts-form">
                    <form action="{% url 'contactus' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id='name' placeholder="Имя*" name="name">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id='tel' placeholder="Номер телефона*"
                                   name="number">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id='message' placeholder="Сообщение*"
                                   name="message">
                        </div>
                        <button type="submit" class="btn btn-primary">НАША ПРОДУКЦИЯ</button>
                    </form>

                </div>
            </div>
            <div class="col-12 col-md-1 offset-md-1">
                <ul class='contacts-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block mainblog %}


    <!--Описания компания страница contact-->
    <section class="sotru">
        <div class="container">
            <div class="sotru-title">
                Сотрудничая с нами вы
            </div>
            <div class="sotru-blocks">
                <div class="row">

                    {% for contact in contactpage %}
                        <div class="col-6 col-md-4">
                            <div class="block-item"
                                 style='background: url({{ contact.image.url }}) center center/cover no-repeat;'>
                                <div class="block-icons">
                                    <img src="{% static 'img/02.png' %}" alt="">
                                    <img src="{% static 'img/clock.png' %}" alt="">

                                </div>
                                <div class="block-text">
                                    Начнёте развиваться еще больше и эффективнее.
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <div class="container">
            <div class="map-title">
                Мы находимся
            </div>

            <div class="map-img" style="background: url({% static 'img/map.png' %}) center center/cover no-repeat;">
                <button>Открыть в яндекс карте</button>
            </div>
        </div>
    </section>
{% endblock %}
