<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Контакты</title>
</head>
<body>

    <section class="contacts">
        <header>
            <div class="container">
                <nav class='header-nav d-flex align-items-center'>
                    <img src="img/logo/logo.png" alt="" class="logo">
                    <ul class='menu d-flex justify-content-between align-items-center'>
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="catalog.html">Каталог</a></li>
                        <li class='activ'><a href="contact.html">Контакты</a></li>
                    </ul>
                    <button class='menu-btn'><a href="partner.html">ПАРТНЁРАМ</a></button>
                    <ul class='lang'>
                        <li>
                            RU<i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </li>
                    </ul>
                </nav>
                <!--Стиль header везде одинакова-->
            </div>
            <a href="#"><img src="img/logo/logo.png" alt="" class="mob-logo"></a>
            <div class="gamburger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="menu-exit">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </header>
        <!-- Шапка сайта -->
        <div class="container">
            <div class="row d-flex  align-items-start">
                <div class="col-6 col-md-5">
                    <h1 class="contacts-label">Контакты</h1>
                    <div class="contacts-descr">
                        Адрес: Республика Узбекистан, 
                        Хорезмская область, Кушкупирский 
                        район
                        село Узбекяп.
                        <br><br>
                        Банк: Хорезмский региональный 
                        филиал АК «УзПромстройбанка».
                        <br><br>
                        Тел: (+99890)737-00-01.
                        <br><br>
                        E-mail: kparranda@mail.ru.
                        <br><br>
                        Директор: У.Ю. Мадаминов
                    </div>
                </div>
                <div class="col-6 col-md-4 offset-md-1">
                    <div class="contacts-label">Оставьте заявку</div>
                    <div class="contacts-form">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id='name' placeholder="Имя*">
                              </div>
                            <div class="form-group">
                              <input type="text" class="form-control" id='tel' placeholder="Номер телефона*">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" id='message' placeholder="Сообщение*">
                            </div>
                            <button type="submit" class="btn btn-primary">НАША ПРОДУКЦИЯ</button>
                          </form>
                    </div>
                </div>
                <div class="col-12 col-md-1 offset-md-1">
                    <ul class='contacts-icons'>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
    </div>
    <!--Описания компания страница contact-->
</section>

<section class="sotru">
    <div class="container">
        <div class="sotru-title">
            Сотрудничая с нами вы
        </div>
        <div class="sotru-blocks">
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="block-item" style='background: url(img/contact-block.png) center center/cover no-repeat;'>
                        <div class="block-icons">
                            <img src="img/01.png" alt="">
                            <img src="img/clock.png" alt="">
                        </div>
                        <div class="block-text">
                            Сэкономите ваши деньги и время, а также нервы.
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="block-item" style='background: url(img/contact-block.png) center center/cover no-repeat;'>
                        <div class="block-icons">
                            <img src="img/02.png" alt="">
                            <img src="img/atom.png" alt="">
                        </div>
                        <div class="block-text">
                            Начнёте развиваться еще больше и эффективнее.
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="block-item" style='background: url(img/contact-block.png) center center/cover no-repeat;'>
                        <div class="block-icons">
                            <img src="img/03.png" alt="">
                            <img src="img/collaboration.png" alt="">
                        </div>
                        <div class="block-text">
                            Заключите с нами сделкуи мы станем партнерами
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="block-item" style='background: url(img/contact-block.png) center center/cover no-repeat;'>
                        <div class="block-icons">
                            <img src="img/04.png" alt="">
                            <img src="img/agreement.png" alt="">
                        </div>
                        <div class="block-text">
                            Получите доступный товар 
                            самого лучшего качества
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="block-item" style='background: url(img/contact-block.png) center center/cover no-repeat;'>
                        <div class="block-icons">
                            <img src="img/05.png" alt="">
                            <img src="img/partnership.png" alt="">
                        </div>
                        <div class="block-text">
                            Получите дальнейшую почву для сотрудничества
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="block-item" style='background: url(img/contact-block.png) center center/cover no-repeat;'>
                        <div class="block-icons">
                            <img src="img/06.png" alt="">
                            <img src="img/money.png" alt="">
                        </div>
                        <div class="block-text">
                            Окупите покупку в течениинеопределенного времени
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="map">
    <div class="container">
        <div class="map-title">
            Мы находимся 
        </div>
        <div class="map-img" style="background: url(img/map.png) center center/cover no-repeat;">
            <button>Открыть в яндекс карте</button>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-2 offset-1 col-md-2 d-flex align-items-center flex-column">
                <div class="footer-logo">
                    <a href="#">
                        <img src="img/logo/footer-logo.png" alt="">
                    </a>
                </div>
                <div class="footer-label">
                    QO’SHKO’PIR 
                    PARRANDA
                </div>
                <div class="footer-date">2004 - 2020</div>
            </div>
            <div class="col-2 offset-2 col-md-2 offset-md-2 d-flex align-items-center flex-column">
                <nav class='footer-menu'>
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="catalog.html">Каталог</a></li>
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                        <li><a href="partner.html">Партнёрам</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-3 offset-2 col-md-3 offset-md-2 d-flex align-items-end flex-column">
                <div class="footer-sot">
                    <span>Мы в соц. сетях:</span>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="footer-phone">
                    Наш телефон:
                </div>
                <div class="footer-tel">
                    Тел: (+99890)737-00-01
                </div>
                <div class="footer-end">
                    Все права защищены
                </div>
            </div>
        </div>
    </div>
</footer> 
<!--footer сайта--> 
<script src="js/index.js"></script>
</body>
</html>