{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ config.CONTACT_TITLE }}
{% endblock %}

{% block bg_image %}
    contacts
{% endblock %}


{% block header %}


    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-start">
            <div class="col-6 col-md-5">
                <h1 class="contacts-label">{{ config.CONTACT_1 }}</h1>
                <div class="contacts-descr">
                    {{ config.CONTACT_2 }}
                    <br><br>
                    {{ config.CONTACT_3 }}
                    <br><br>
                    {{ config.CONTACT_4 }}
                    <br><br>
                    {{ config.CONTACT_5 }}
                    <br><br>
                    {{ config.CONTACT_6 }}
                </div>
            </div>
            <div class="col-6 col-md-4 offset-md-1">
                <div class="contacts-label">{{ config.CONTACT_7 }}</div>
                <div class="contacts-form">
                    <form action="{% url 'contactus' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id='name' placeholder="{{ config.CONTACT_8 }}"
                                   name="name">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id='tel' placeholder="{{ config.CONTACT_9 }}"
                                   name="number">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id='message' placeholder="{{ config.CONTACT_10 }}"
                                   name="message">
                        </div>
                        <button type="submit" class="btn btn-primary">{{ config.CONTACT_11 }}</button>
                    </form>

                </div>
            </div>
            <div class="col-12 col-md-1 offset-md-1">
                <ul class='contacts-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block mainblog %}


    <!--Описания компания страница contact-->
    <section class="sotru">
        <div class="container">
            <div class="sotru-title">
                {{ config.CONTACT_12 }}
            </div>
            <div class="sotru-blocks">
                <div class="row">

                    {% for contact in contactpage %}
                        <div class="col-6 col-md-4">
                            <div class="block-item"
                                 style='background: url({{ contact.image.url }}) center center/cover no-repeat;'>
                                <div class="block-icons">
                                    <img src="{% static 'img/02.png' %}" alt="">
                                    <img src="{% static 'img/clock.png' %}" alt="">

                                </div>
                                <div class="block-text">
                                    {{ contact.text}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <div class="container">
            <div class="map-title">
                {{ config.CONTACT_13 }}
            </div>

            <div class="map-img" style="background: url({% static 'img/map.png' %}) center center/cover no-repeat;">
                <button>{{ config.CONTACT_14 }}</button>
            </div>
        </div>
    </section>
{% endblock %}
