{% extends 'base.html' %}
{% load static i18n tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}

    {{ 'TITLE_INDEX_'|translate:request.path }}


{% endblock %}

{% block bg_image %}
    main
{% endblock %}


<!-- Шапка сайта -->
{% block header %}
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-5 col-md-5">
                <h1 class="label">QO'SHKO'PIR PARRANDA </h1>
                <div class="main-descr">
                    {{ 'MAIN_1_'|translate:request.path }}
                </div>
            </div>
            <div class="col-5 offset-1 col-md-5 offset-md-1">
                <video controls>
                    <source src="{% static 'miyagi.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="col-3 col-md-1">
                <ul class='main-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="main-btn">
            <a href="{% url 'catalog' %}">
                <button> {{ 'MAIN_2_'|translate:request.path }}</button>
            </a>
        </div>
    </div>
{% endblock %}
<!--Описания компания-->
{% block mainblog %}
    <section class="about">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-6 col-md-5 offset-md-1">
                    <div class="about-img"
                         style='background: url({% static 'img/about-img2.png' %}) center center/cover no-repeat;'>
                        <div class="bg">
                        </div>
                    </div>
                    <div class="about-subimg"
                         style='background: url({% static 'img/about-img.png' %}) center center/cover no-repeat;'>
                        <div class="bg">
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-5 offset-md-1">
                    <div class="about-title">
                        {{ 'MAIN_3_'|translate:request.path }}
                    </div>
                    <div class="about-descr">
                        {{ 'MAIN_4_'|translate:request.path }}
                    </div>
                    <div class="about-btn">
                        <a href="{% url 'about' %}">
                            <button>{{ 'MAIN_5_'|translate:request.path }}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Блок 'о нас' -->
    <section class='produce'>
        <div class="container">
            <div class="produce-title">
                {{ 'MAIN_6_'|translate:request.path }}
            </div>
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="produce-bigbtn">
                        <a href="{% url 'partner' %}"> <button> {{ 'MAIN_7_'|translate:request.path }}</button></a>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="produce-bigbtn">
                        <a href="{% url 'partner' %}"> <button>{{ 'MAIN_8_'|translate:request.path }}</button></a>
                    </div>
                </div>
            </div>
            <div class="produce-btn">
                <a href="{% url 'partner' %}"> <button> {{ 'MAIN_9_'|translate:request.path }}</button></a>
            </div>
        </div>
    </section>
    <!--Произвоства-->
    <section class="contact">
        <div class="container">
            <div class="contact-label">{{ 'MAIN_10_'|translate:request.path }}</div>
            <div class="row d-flex align-items-center">
                <div class="col-6 col-md-5">
                    <div class="contact-title">
                        «QO'SHKO'PIR PARRANDA»
                    </div>
                    <div class="contact-descr">
                        {{ 'MAIN_11_'|translate:request.path }}
                        <br>
                        <br>
                        {{ 'MAIN_12_'|translate:request.path }}
                        <br>
                        <br>
                        {{ 'MAIN_13_'|translate:request.path }}
                    </div>
                    <div class="contact-btn">
                        <a href="{% url 'contact' %}">
                            <button>{{ 'MAIN_5_'|translate:request.path }}</button>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-5 offset-md-2">
                    <div class="contact-img"
                         style='background: url({% static 'img/contact-img.png' %}) center center/cover no-repeat;'>
                        <div class="bg">
                        </div>
                    </div>
                    <div class="contact-subimg"
                         style='background: url({% static 'img/contac-img2.png' %}) center center/cover no-repeat;'>
                        <div class="bg">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}