{% extends 'base.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}

{% block menu %}
    <li class='activ'><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'about' %}">О компании</a></li>
    <li><a href="{% url 'catalog' %}">Каталог</a></li>
    <li><a href="{% url 'contact' %}">Контакты</a></li>
{% endblock %}
<!-- Шапка сайта -->
{% block header %}
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-5 col-md-5">
                <h1 class="label">QO’SHKO’PIR PARRANDA</h1>
                <div class="main-descr">
                    Мы - проект и занимаемся нашим делом
                    уже очень давномы производим то-то то-то
                    уже в течении 032035 лет и мы лучшие на
                    рынке среди наших конкурентов.
                </div>
            </div>
            <div class="col-5 offset-1 col-md-5 offset-md-1">
                <video controls>
                    <source src="{% static 'miyagi.mp4' %}" type="video/mp4">
                </video>
            </div>
            <div class="col-3 col-md-1">
                <ul class='main-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="main-btn">
            <button>НАША ПРОДУКЦИЯ</button>
        </div>
    </div>
{% endblock %}
<!--Описания компания-->
{% block mainblog %}
    <section class="about">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-6 col-md-5 offset-md-1">
                    <div class="about-img"
                         style='background: url({% static 'img/about-img2.png' %}) center center/cover no-repeat;'>
                        <div class="bg">
                        </div>
                    </div>
                    <div class="about-subimg"
                         style='background: url({% static 'img/about-img.png' %}) center center/cover no-repeat;'>
                        <div class="bg">
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-5 offset-md-1">
                    <div class="about-title">
                        О нас
                    </div>
                    <div class="about-descr">
                        Мы - проект и занимаемся нашим делом
                        уже очень давномы производим то-то то-то
                        уже в течении 032035 лет и мы лучшие на
                        рынке среди наших конкурентов.
                    </div>
                    <div class="about-btn">
                        <button>ПОДРОБНЕЕ</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Блок 'о нас' -->
    <section class='produce'>
        <div class="container">
            <div class="produce-title">
                Мы производим
            </div>
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="produce-bigbtn">
                        <button>ЭКСПОРТ И ИМПОРТ</button>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="produce-bigbtn">
                        <button>ПРОДАЖУ ЯИЦ</button>
                    </div>
                </div>
            </div>
            <div class="produce-btn">
                <button>УЗНАТЬ ПОДРОБНЕЕ</button>
            </div>
        </div>
    </section>
    <!--Произвоства-->
    <section class="contact">
        <div class="container">
            <div class="contact-label">Наши контакты</div>
            <div class="row d-flex align-items-center">
                <div class="col-6 col-md-5">
                    <div class="contact-title">
                        «QO’SHKO’PIR PARRANDA»
                    </div>
                    <div class="contact-descr">
                        Адрес: Республика Узбекистан,
                        Хорезмская область, Кушкупирский
                        район
                        село Узбекяп.
                        <br>
                        <br>
                        Банк: Хорезмский региональный
                        филиал АК «УзПромстройбанка».
                        <br>
                        <br>
                        Тел: (+99890)737-00-01.
                    </div>
                    <div class="contact-btn">
                        <button>ПОДРОБНЕЕ</button>
                    </div>
                </div>
                <div class="col-6 col-md-5 offset-md-2">
                    <div class="contact-img"
                         style='background: url({% static 'img/contact-img.png' %}) center center/cover no-repeat;'>
                        <div class="bg">
                        </div>
                    </div>
                    <div class="contact-subimg"
                         style='background: url({% static 'img/contac-img2.png' %}) center center/cover no-repeat;'>
                        <div class="bg">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}