{% extends 'base.html' %}
{% load tags %}
{% load static %}
{% block title %}
    {{ 'PARTNER_TITLE_'|translate:request.path }}
{% endblock %}

{% block bg_image %}
    partner
{% endblock %}



{% block header %}
    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-6 col-md-5">
                <h1 class="partner-label"> {{ 'PARTNER_1_'|translate:request.path }}</h1>
                <div class="partner-descr">
                    {{ 'PARTNER_2_'|translate:request.path }}
                    <br>
                    <br>
                    {{ 'PARTNER_3_'|translate:request.path }}<br>
                    {{ 'PARTNER_4_'|translate:request.path }}<br>
                    {{ 'PARTNER_5_'|translate:request.path }}
                </div>
            </div>

            <div class="col-1 offset-5 col-md-1 offset-md-6">
                <ul class='partner-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="partner-btn">
            <a href="{% url 'contact' %}">
                <button> {{ 'PARTNER_6_'|translate:request.path }}</button>
            </a>
        </div>
    </div>
{% endblock %}

{% block mainblog %}
    <!--Описания компания страница partner-->
    <section class="benefits">
        <div class="container">
            <div class="benefits-title">
                {{ 'PARTNER_7_'|translate:request.path }}
            </div>
            <div class="benefits-blocks">
                <div class="row">
                    {% for partner in partnerpage %}
                        <div style="margin-bottom: 30px" class="col-6 col-md-3">
                            <div class="block-item"
                                 style='background: url({{ partner.image_background.url }}) center center/cover no-repeat;'>
                                <div class="block-icon">
                                    <img src="{{ partner.image }}" alt="">
                                </div>
                                <div class="block-text">
                                    {{ partner.text }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}