{% extends 'base.html' %}
{% load static %}
{% block title %}
    Партнёрам
{% endblock %}

{% block bg_image %}
    partner
{% endblock %}

{% block menu %}
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'about' %}">О компании</a></li>
    <li><a href="{% url 'catalog' %}">Каталог</a></li>
    <li><a href="{% url 'contact' %}">Контакты</a></li>
{% endblock %}

{% block header %}
    <!-- Шапка сайта -->
    <div class="container">
        <div class="row d-flex  align-items-center">
            <div class="col-6 col-md-5">
                <h1 class="partner-label">Партнёрам</h1>
                <div class="partner-descr">
                    Наши продукты и услуги нашей компании благодаря нашему опыту и качеству могут похвастаться
                    званием лучших в Узбекистане.
                    <br>
                    <br>
                    Тел: (+99890)737-00-01.<br>
                    E-mail: kparranda@mail.ru.<br>
                    Директор: У.Ю. Мадаминов
                </div>
            </div>

            <div class="col-1 offset-5 col-md-1 offset-md-6">
                <ul class='partner-icons'>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="partner-btn">
            <button>СВЯЗАТЬСЯ С НАМИ</button>
        </div>
    </div>
{% endblock %}

{% block mainblog %}
    <!--Описания компания страница partner-->
    <section class="benefits">
        <div class="container">
            <div class="benefits-title">
                Преимущества
            </div>
            <div class="benefits-blocks">
                <div class="row">
                    <div style="margin-bottom: 2px" class="col-6 col-md-3">
                        <div class="block-item"
                             style='background: url({% static 'img/partner-block.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/money.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Лучшая цена
                            </div>
                        </div>
                    </div><br>
                    <div class="col-6 col-md-3">
                        <div class="block-item"
                             style='background: url({% static 'img/partner-block.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/quality.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Известный бренд
                            </div>
                        </div>
                    </div><br>
                    <div class="col-6 col-md-3">
                        <div class="block-item"
                             style='background: url({% static 'img/partner-block.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/partnership.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Стабильные поставки
                            </div>
                        </div>
                    </div><br>
                    <div class="col-6 col-md-3">
                        <div class="block-item"
                             style='background: url({% static 'img/partner-block.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/agreement.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Индивидуальный подход
                            </div>
                        </div>
                    </div><br>
                    <div class="col-6 col-md-3">
                        <div class="block-item"
                             style='background: url({% static 'img/partner-block.png' %}) center center/cover no-repeat;'>
                            <div class="block-icon">
                                <img src="{% static 'img/agreement.png' %}" alt="">
                            </div>
                            <div class="block-text">
                                Индивидуальный подход
                            </div>
                        </div>
                    </div><br>
                </div>
            </div>
        </div>
    </section>
{% endblock %}